* {
    font-family: Inter, sans-serif;
}

body{
    background-color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
    width: 100%;
    height: 100%;
    
    padding: 0;
}

input{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1.5px solid rgb(59, 61, 66);
    border-radius: 20px;
    width: 500px;
    height: 30px;
    font-size: 20px;
    padding-left: 5px;
}

button{
    border-color: black;
    border-radius: 20px;
    border-width: 1.5px;
    width: 80px;
    height: 30px;
    font-size: 15px;
    padding-left: 5px;
}

.container{ 
    /* display: flex; */
    column-count: 4;
    padding: 10px;
}

.container .note {
    margin: 5px;
    /* flex-wrap: wrap; */
    padding: initial;
    box-sizing: border-box;
    border-radius: 50px;
    break-inside: avoid-column;
}

 .write-note {
    background-color: #e4e4e4;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    
}

.write-note i {
    font-size: 50px;
    color: #adadad;
}

.write-note span {
    margin-top: 12px;
    color: #adadad;
    padding: 0 35px;
    font-size: 15px;
}

.One {
    background-color: rgb(118, 125, 187);
    height: 450px;
}
.Two{
    background-color: rgb(235, 162, 162);
    height: 420px;
}
.Three {
    background-color: rgb(206, 159, 238);
    height: 330px;
}
.Four {
    background-color: rgb(181, 236, 126);
    height: 250px;
}
.Five{
    background-color: rgb(236, 141, 232);
    height: 350px;
}
.Six{
    background-color: rgb(160, 229, 165);
    height: 210px;
}
.Seven{
    background-color: rgb(238, 198, 138);
    height: 210px;
}
.Eight{
    background-color: rgb(138, 185, 238);
    height: 280px;
}
.Nine{
    background-color: rgb(238, 134, 174);
    height: 280px;
}