* {
    font-family: "Inter", sans-serif !important;
}

body {
    background-color: #fff;
    text-align: center;
    margin: 30px 10%;
}

.container { 
    column-count: 4;
}

.container .note {
    margin-bottom: 20px;
    padding: initial;
    box-sizing: border-box;
    border-radius: 10px;
    break-inside: avoid-column;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.53);
    margin-bottom: 1rem;
    padding: 5px 20px;
    word-break: break-all;
    text-align: left;
    min-height: 120px;
}

.note-field {
    width: 90%;
    height: 80%;
    border: none;
    display: block;
    background: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    resize: none;
}

.btn-send-message {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    align-self: flex-end;
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: #fff;
    background-color: #60c09b;
    padding: 5px 20px;
    box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.53);
    border-radius: 3px;
    transition: background-color .1s;
}

.btn-send-message:hover {
    background-color: #469174;
}

.note-field::placeholder {
    color: #e4e4e4;
}

.click-to-write {
    background-color: #e4e4e4;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    text-align: center;
}

 .write-note {
    background-color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.write-note i {
    font-size: 50px;
    color: #adadad;
}

.write-note span {
    margin-top: 12px;
    color: #adadad;
    padding: 0 35px;
    font-size: 15px;
}

.One {
    background-color: rgb(118, 125, 187);
    height: 450px;
}
.Two{
    background-color: rgb(235, 162, 162);
    height: 420px;
}
.Three {
    background-color: rgb(206, 159, 238);
    height: 330px;
}
.Four {
    background-color: rgb(181, 236, 126);
    height: 250px;
}
.Five{
    background-color: rgb(236, 141, 232);
    height: 350px;
}
.Six{
    background-color: rgb(160, 229, 165);
    height: 210px;
}
.Seven{
    background-color: rgb(238, 198, 138);
    height: 210px;
}
.Eight{
    background-color: rgb(138, 185, 238);
    height: 280px;
}
.Nine{
    background-color: rgb(238, 134, 174);
    height: 280px;
}